body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}
.new-btn{
    color: white;
    background-color: royalblue;
}
#edit-btn{
    background-color: rgb(255, 56, 56);
    color: rgb(231, 214, 214);
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 50vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}